exportPattern("getCluster")
importFrom(stats, "complete.cases")
importFrom(rtracklayer, "import")
importFrom(SummarizedExperiment,"rowRanges")
importFrom(VariantAnnotation,"readVcf")
import(GenomicRanges)
importFrom("methods", "is")
