exportPattern("getCluster")
importFrom(parallel, "makeCluster")
importFrom(parallel, "stopCluster")
importFrom(doParallel, "registerDoParallel")
importFrom(foreach, "foreach")
importFrom(foreach, "%dopar%")
importFrom(stats, "complete.cases")
importFrom(rtracklayer, "import")
importFrom(SummarizedExperiment,"rowRanges")
importFrom(VariantAnnotation,"readVcf")
import(GenomicRanges)
importFrom("methods", "is")
