exportPattern("getCluster")
exportPattern("mapCluster")
importFrom(parallel, "makeCluster")
importFrom(parallel, "stopCluster")
importFrom(parallel, "detectCores")
importFrom(doParallel, "registerDoParallel")
importFrom(foreach, "foreach")
importFrom(foreach, "%dopar%")
importFrom(stats, "complete.cases")
importFrom(utils, "read.table")
importFrom(utils, "write.table")
importFrom(utils, "read.delim")
